#==================================================================
#  MacOS
#==================================================================
.DS_Store
/Icon*
._*

#==================================================================
# XCode
#==================================================================
build
Build
Products
*.pbxuser
*.perspectivev3
*.mode1v3
*.xcworkspace
xcuserdata

#==================================================================
#  Temp files
#==================================================================
*.tmp
*.~*
*~
*.swp
.svn


#==================================================================
# netbeans
#==================================================================
build.xml
manifest.mf
build
dist
nbproject

#==================================================================
# IntelliJ Idea¡¢WebStorm
#==================================================================
.idea
*.iml
out
*.class

#==================================================================
# Eclipse
#==================================================================
.project
.classpath
.manager
.settings
