<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <description>ProteanBear 综合业务管理系统</description>
    <display-name>ProteanBear</display-name>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>系统管理-行政区域管理接口</servlet-name>
        <servlet-class>pb.system.limit.servlet.SystemAreaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>系统管理-系统插件管理接口</servlet-name>
        <servlet-class>pb.system.limit.servlet.SystemPluginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>系统管理-区域类型管理接口</servlet-name>
        <servlet-class>pb.system.limit.servlet.SystemAreaTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>系统管理-功能权限管理接口</servlet-name>
        <servlet-class>pb.system.limit.servlet.SystemLimitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>系统管理-管理角色管理接口</servlet-name>
        <servlet-class>pb.system.limit.servlet.SystemRoleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>系统管理-管理人员管理接口</servlet-name>
        <servlet-class>pb.system.limit.servlet.SystemUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>系统通用-管理人员登录接口</servlet-name>
        <servlet-class>pb.system.limit.servlet.SystemUserLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>系统通用-管理人员注销接口</servlet-name>
        <servlet-class>pb.system.limit.servlet.SystemUserLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>系统通用-人员信息刷新接口</servlet-name>
        <servlet-class>pb.system.limit.servlet.SystemUserReloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>系统通用-区域树形输出接口</servlet-name>
        <servlet-class>pb.system.limit.servlet.SystemAreaTreeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>系统通用-验证码显示</servlet-name>
        <servlet-class>pb.system.limit.servlet.VerifyCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>系统通用-文件上传数据接口</servlet-name>
        <servlet-class>pb.system.cms.servlet.BusiCmsResourceUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>基础信息-基本权限数据接口</servlet-name>
        <servlet-class>pb.system.limit.servlet.OriginalLimitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>基础信息-基本平台数据接口</servlet-name>
        <servlet-class>pb.system.limit.servlet.OriginalPlatformServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>系统通用-企业应用数据接口</servlet-name>
        <servlet-class>pb.system.limit.servlet.SystemApplicationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>业务管理-应用栏目数据接口</servlet-name>
        <servlet-class>pb.system.limit.servlet.BusiSectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>业务管理-文章内容数据接口</servlet-name>
        <servlet-class>pb.system.cms.servlet.BusiCmsArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>业务管理-应用反馈数据接口</servlet-name>
        <servlet-class>pb.system.cms.servlet.BusiFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>系统通用-应用更新检查数据接口</servlet-name>
        <servlet-class>pb.system.limit.servlet.SystemVersionLastestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>系统通用-应用更新检查数据接口</servlet-name>
        <url-pattern>/systemVersionLastest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>业务管理-应用反馈数据接口</servlet-name>
        <url-pattern>/busiFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>业务管理-文章内容数据接口</servlet-name>
        <url-pattern>/busiCmsArticle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>业务管理-应用栏目数据接口</servlet-name>
        <url-pattern>/busiSection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>系统通用-企业应用数据接口</servlet-name>
        <url-pattern>/systemApplication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>基础信息-基本平台数据接口</servlet-name>
        <url-pattern>/originalPlatform</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>基础信息-基本权限数据接口</servlet-name>
        <url-pattern>/originalLimit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>系统通用-区域树形输出接口</servlet-name>
        <url-pattern>/systemAreaTree</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>系统通用-验证码显示</servlet-name>
        <url-pattern>/verifyCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>系统管理-行政区域管理接口</servlet-name>
        <url-pattern>/systemArea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>系统管理-系统插件管理接口</servlet-name>
        <url-pattern>/systemPlugin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>系统管理-区域类型管理接口</servlet-name>
        <url-pattern>/systemAreaType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>系统管理-功能权限管理接口</servlet-name>
        <url-pattern>/systemLimit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>系统管理-管理角色管理接口</servlet-name>
        <url-pattern>/systemRole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>系统管理-管理人员管理接口</servlet-name>
        <url-pattern>/systemUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>系统通用-管理人员登录接口</servlet-name>
        <url-pattern>/systemUserLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>系统通用-管理人员注销接口</servlet-name>
        <url-pattern>/systemUserLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>系统通用-人员信息刷新接口</servlet-name>
        <url-pattern>/systemUserReload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>系统通用-文件上传数据接口</servlet-name>
        <url-pattern>/fileUpload</url-pattern>
    </servlet-mapping>
    <env-entry>
        <description>数据源名称</description>
        <env-entry-name>DATA_SOURCE</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>java:/comp/env/jdbc/pbms</env-entry-value>
    </env-entry>
    <env-entry>
        <description>设置一页数据容量</description>
        <env-entry-name>CONFIG_PAGEMAX</env-entry-name>
        <env-entry-type>java.lang.Integer</env-entry-type>
        <env-entry-value>30</env-entry-value>
    </env-entry>
    <env-entry>
        <description>设置是否显示调试信息</description>
        <env-entry-name>CONFIG_DEBUG</env-entry-name>
        <env-entry-type>java.lang.Boolean</env-entry-type>
        <env-entry-value>true</env-entry-value>
    </env-entry>
    <env-entry>
        <description>设置是否记录用户日志</description>
        <env-entry-name>CONFIG_ISLOG</env-entry-name>
        <env-entry-type>java.lang.Boolean</env-entry-type>
        <env-entry-value>false</env-entry-value>
    </env-entry>
    <env-entry>
        <description>配置初始欢迎页面，访问系统时自动转向设置页面（相对路径）</description>
        <env-entry-name>CONFIG_PAGE_WELCOME</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>business/console.html</env-entry-value>
    </env-entry>
    <env-entry>
        <description>设置-是否自动审核数据提交</description>
        <env-entry-name>CONFIG_AUTO_CHECKSUBMIT</env-entry-name>
        <env-entry-type>java.lang.Boolean</env-entry-type>
        <env-entry-value>true</env-entry-value>
    </env-entry>
    <env-entry>
        <description>记录在列表输出时附件最多的条目数</description>
        <env-entry-name>CONFIG_MAX_RES</env-entry-name>
        <env-entry-type>java.lang.Integer</env-entry-type>
        <env-entry-value>5</env-entry-value>
    </env-entry>
    <env-entry>
        <description>配置是否自动生成缩略图</description>
        <env-entry-name>CONFIG_AUTO_IMAGE</env-entry-name>
        <env-entry-type>java.lang.Boolean</env-entry-type>
        <env-entry-value>true</env-entry-value>
    </env-entry>
</web-app>
